/***********************
	commons style sheet
************************/
*{
	padding:0px; margin:0px;
}

.d1{
	width:1000px;
	margin:auto;
	margin-top:100px;
/* 	border:1px solid black; */
	margin-bottom:170px;
}
.table{
	width:750px;
	margin:auto; 
	height:420px;
	border-collapse:collapse;
	border-radius:5px;
	margin-top:20px;
}
div.d2> .search_bar{
	width: 400px;
	height: 40px;
	margin-top:0px;
	border:1px solid #3D3D3D;	
	border-radius:5px;
	text-indent:10px;
	font-size:12pt;
	margin:auto;
}
.d2 {
    display: flex;
    align-items:center;
    float:left;
    margin-left:185px;
    margin-top:30px;;
}
.d2>.button1{
	margin-left:-41px;
	margin-bottom:30px;
	width:38px;
	height:38px;
	border:none;
	background:white;
}
.d2>.button1>img{
	width:35px;
	height:35px;
	margin-top:1px;
	margin-left:-3px;
} 
button{
	background:#D9D9D9;
	color:#3D3D3D;
	border:1px solid #3D3D3D;	
	font-size: 11pt;
	padding:1px 7px;
	font-weight:700;
	cursor:pointer;
	margin-top:30px; 
	text-decoration:none;
	border-radius:5px;
}
button >a {
	color:#3D3D3D;	
	text-decoration:none;
}
.table, th, td{
	border: 1px solid #3D3D3D;
	text-align:center;
	padding : 2px 10px;
	border-collapse:collapse;
}

th{
	background:#D9D9D9;
	text-align:center;
}
/* section.hostpital tr:nth-child(2) td{
	border-top:1px solid #3D3D3D;
} */
tr td:nth-child(1) {
	width:50px;
}
.button4{
	padding:5px 15px;
}
section.reserve tr:last-child td,section.review tr:last-child td,
section.member tr:last-child td
{/* 이전으로 */
	border-color:white;
	padding:0 0 0 650px;
}

.table tr td.number, section.hospital tr:last-child td.number{
	border-color:white;
	background:#D9D9D9;
	font_size:13pt; 
	font-weight:600;
	word-spacing:20px;
	border-radius:5px;
	
}
section.hospital tr td:nth-child(4), section.hospital tr td:nth-child(5),
section.reserve tr td:nth-child(5),section.review tr td:nth-child(5),
section.hospital_detail tr td:nth-child(4),section.hospital_detail tr td:nth-child(5){
	width:100px;
}
section.reserve tr:nth-child(12) td,section.review tr:nth-child(12) td,
section.member tr:nth-child(13) td{
	border:1px solid white;
}
section.hospital #section1 div nav ul li:nth-child(2) a,
section.member #section1 div nav ul li:nth-child(3) a,
section.reserve #section1 div nav ul li:nth-child(4) a,
section.review #section1 div nav ul li:nth-child(5) a
{
	font-weight:bold;
	color : #3D3D3D;
	text-decoration : none;
}

#section2{
	margin-right:80px;
}
/************************
	header style
*************************/
	/* header-style */
	.header-menu {
		height:100px; width:100%;
		position:fixed; left:0; top:0;
		background :#7ab2cc;
	}
	.header-content {
		width:1000px; height:100px;
		margin:auto;
	}
	
	.header-logo {
		float:left;
		height:70px;
		padding-top:30px;
		margin-right:20px;
	}
	.header-logo > span {
		color:white;
		font-size:24px;
		font-weight:bold;
		display:inline-block;
		margin-bottom:10px;
		vertical-align:bottom;
	}
	
	.header-nav {
		float:right;
		height:70px;
		padding-top:30px;
	}
	.header-nav > ul {
		list-style-type:none;
		float:right;
		padding-top:30px;
	}
	.header-nav > ul > li {
		float:left;
		padding-left:25px;
	}
	.header-nav > ul > li > a {
		text-decoration:none;
		color:white;
		font-size:14px;
	}
	.header-nav > ul > li > a:hover {
		font-weight:bold;
	}
/****************************
section1 style sheet - 카테고리
*****************************/
#section1 {
	width: 148px;
	height: 300px;
	float : left;
	margin-top : 80px;
	border:1px soild red;
}

#section1 div nav ul{
	list-style-type:none;

}
#section1 div nav ul li{
	margin-bottom : 15px;
}
#section1 div nav ul li:first-child {
	font-weight: 700;
	font-size: 20px;
	color: #7ab2cc;
	border-left : 10px solid #7ab2cc;
	margin-bottom : 25px;
	padding-left:7px;
}
#section1 div nav ul li a {
	font-size : 15px;
	font-weight : 500;
	color : #3D3D3D;
	text-decoration : none;
}

#section1 div nav ul li a:hover {
	font-size : 16px;
	font-weight:bold;
	color :#7ab2cc;
	text-decoration : none;
}

/****************************
hospital_list style sheet
*****************************/

 section.hospital tr:nth-child(13) td{
	border-color:white;
	background:white;
	font_size:11pt;
	font-weight:700;
}

section.hospital tr:first-child td, section.hospital_detail tr:first-child td{
	border:1px solid white;
	border-bottom: 1px solid #3D3D3D;
 	padding:0 0 20px 600px; 
} 

section.hospital tr td:nth-child(2), section.hospital_detail tr td:nth-child(2) {
	width:280px;
	text-align:left;
	text-indent:10px;
}
secton.hospital tr:ntf-child(12) td{/* .number */
	border-color:white;
	padding:0 0 0 650px;
	
}
/****************************
member_list style sheet
*****************************/
section.member tr:first-child td, section.member_detail tr:first-child td{
	border:1px solid white;
	border-bottom: 1px solid #3D3D3D;
 	padding:0 0 20px 600px; 
} 


section.member tr td:nth-child(4), section.member tr td:nth-child(5){
	width:180px;
}

/****************************
reserve_list style sheet
*****************************/

section.reserve tr td:last-child{
	cursor:pointer;
}
section.reserve tr td:nth-child(2) {
	width:200px;
}

.d1 section.reserve div.d2, .d1 section.review div.d2{
	margin-bottom:80px; 
}

/****************************
review_list style sheet
*****************************/
section.review section#section2 .d2 button{
	margin-left:510px; 
	margin-bottom:-50px;
}


/*************************************
	hospital_list_detail style sheet
**************************************/
section.hospital_detail .button4, section.member_detail .button4,
section#hospital_data .button4, section.member_detail section#section2 .button4{
	margin-left:635px;
	
}

section.hospital_detail table.table tr:last-child td,
section.member_detail table.table tr:last-child td,
section#hospital_data table.table tr:last-child td{
	border:1px solid white;
	/* margin-right:700px; */
}

section.hospital_detail section.section2 div.d3 .table tr th,
section.hospital_detail section.section2 div.d3 .table tr td,
section.member_detail section#section2 div.d3 .table tr th,
section.member_detail section#section2 div.d3 .table tr td
{
	height:10px;
}

section.hospital_detail section.section2 div.d3 {
	margin-right:90px;
}
section.hospital_detail section.section2 div.d3 .table tr:nth-child(4) td,
section.member_detail section#section2 div.d3 .table tr:nth-child(4) td{
	height:300px;
	background:#D9D9D9;
} 
/*************************************
	hospital_data style sheet
**************************************/
section#hospital_data table.table tr th{
	width:100px;
}
section#hospital_data table.table tr td input,
section#hospital_data table.table tr td textarea{
	width:600px;
	height:35px;
	border:1px solid #D9D9D9;
	border-radius:5px;
	text-size:15pt;
	text-indent:10px;
}

section#hospital_data table.table tr:nth-child(2) td input,
section#hospital_data table.table tr:nth-child(4) td textarea
{
	height:110px;
}
section#hospital_data table.table tr:nth-child(7) td textarea{
	height:200px;
}

/*************************************
	review-detail style sheet
**************************************/
section.review_detail div img{
	width:50px;
	height:50px;
}
section.review_dtail section#section2{
	border:1px solid #3D3D3D;
}


section.review_detail div#d3 {
	border:1px solid red;
	margin-left:200px;
	display:inline-block;
}
/*************************************
	member-detail style sheet
**************************************/
section.member_detail section#section1 div#d2 {
	float:left;
	
}
section.member_detail section#section2 div#d3 {
	float:left;
	margin:150px 0 100px 0;
	border :1px solid red;
}

section.member_detail section#section2 ul{
	margin-left:200px;
	/* margin-top:50px; */
	
}
section.member_detail section#section2 .button5{
	padding:5px 15px;
	margin-left:400px;
}
section.member_detail section#section2 ul li{
	list-style-type:none;	
	
}
section.member_detail section#section2 ul li label{
	display:inline;
	width: 77px;
	height: 35px;
	border-radius: 5px;
	background: #7AB2CC;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
	align-items: center;
	text-align: center;
	color:white;
	padding-top:20px;
	margin:30px 0 30px 30px;
}
section.member_detail section#section2 ul li input[type="text"]{
	box-sizing: border-box;
	width: 535px;
	height: 53px;
	border:1px solid white;
	border-bottom: 1px solid #8A8A8A;
	margin-top:10px;
	text-indent:10px;
}
/*************************************
	hospital-update style sheet
**************************************/
section#hospital_data section#section2 div#d3 {
	float:left;
	margin:150px 0 100px 0;
	
}
